html{
    min-height: 100%;
}

body{
margin: 0;
padding: 0;
font-family: sans-serif;
background: linear-gradient(-255deg, #5244bf 0% #51aa92e6 52%,#FF0066 100%);
min-height: 100%;
padding-bottom: 5rem;
}

.one-half{
width: 40%;
display: flex;
flex-direction: column;
align-items: center;
}

.form_Citas{
width: 80%;
}

.row{
display: flex;
justify-content: space-evenly;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 p {
   color: #fff;
   font-weight: 600;
   height: 5px;
   margin-left: 100px;
   
}

form label {
color: #e1e1e1;
padding: 7px;
}

.u-full-width {
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
}


.u-full-width h1, h2 {
    margin-left: 10%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
}

.error_cita{
color: #FF0066;
height: 5%;

display: flex;
justify-content: center;
}

 button {
    border-radius: 5px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    background-color: #6b8de8;
    color: #fff;
    margin-top: 1rem;

}

button:hover {
    background-color:  #5c8cc3;
}

 span {
    font-weight: 50;
}

.one-half .media{
    background-color: #59649c;
    width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
padding: 5px;
margin: 1%;
    
}
