html{
    min-height: 100%;
}

body{
margin: 0;
padding: 0;
font-family: sans-serif;
background: linear-gradient(-255deg, #70a6bf 0%,#189fd4 52%,#00fff2 100%);
min-height: 100%;
padding-bottom: 5rem;
}

h1, h2 {
    color: white;
    padding: 3rem 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
}
.listas-citas .media {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 3rem;
}

.cita {
    background: #fff;
    border-radius: 10px;
    margin: 20px;
}

.cita p {
  margin: 0px 0px 0px 10px;
    color: black;
    font-weight: 600;
}

.cita span {
    font-weight: 50;
}
.cita button {
    background-color: #FF0066;
    color: #fff;
    width: 95%;
    margin: 5px;
}

.cita button:hover {
    background-color: #D41872;
}